<!--底部开始-->
<div class="container">
	<div class="page-header">
		<h5>说明： <small>妥善言论，遵守法律法规。</small></h5>
	</div>
	<div class="text-center">
		<p>
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260329763'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260329763%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        </p>
		<p>站长：275070023@qq.com</p>
		<p>京ICP备15036407号-1</p>
	</div>
</div>
<!--底部结束-->