<#macro headerPage currentPage>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
				<a class="navbar-brand" href="/">何</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="<#if currentPage ?? && (currentPage=='index')>active</#if>"><a href="/">首页</a></li>
					<li class="<#if currentPage ?? && (currentPage=='user')>active</#if>"><a href="/article/myarticle">博客</a></li>
					<li class="<#if currentPage ?? && (currentPage=='github')>active</#if>"><a href="https://github.com/hechaojie/blog" target="_blank">源码</a></li>
					<li class="<#if currentPage ?? && (currentPage=='us')>active</#if>"><a href="/us">关于</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search" action="/search">
					<div class="form-group">
						<input type="text" name="sq" value="${sq!}" class="form-control" placeholder="请输入您的问题？">
					</div>
					<input type="submit" class="btn btn-default" value="检索"/>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<#if user??>
					<li class="dropdown">
						<a href="#" style="table-layout:fixed;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<img src='/images/noimg.png' style="width: 48px;height: 48px;display: inline-block;" onerror="this.src='/images/noimg.png'" />
							<span style="display: inline-block;width: 65px;text-overflow: ellipsis;overflow: hidden">${(user.username)!}</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/article/myarticle">个人中心</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">退出</a></li>
						</ul>
					</li>
					<#else>
					<li><a href="/login">登录</a></li>
					<li><a href="/register">注册</a></li>
					</#if>
				</ul>
			</div>
		</div>
	</nav>
</#macro>
