<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<title>系统信息</title>
		<#include "/common/_include.html">
	</head>

	<body>
		<!-- 头部引用 -->
		<#include "/common/_header.html">
			<@headerPage currentPage="index" />
			<!--内容开始-->
			<div class="container bo-pt20">
				<#if __code==200>
					<div class="alert alert-success  text-center" role="alert">${__message!}</div>
				<#else>
					<div class="alert alert-danger  text-center" role="alert">${__message!}</div>
				</#if>
				<#include "/common/_footer.html">
			</div>
			<!--内容结束-->
	</body>

</html>