<div class="content_panel_r">
                <div class="sidebar-inner">
                    <!-- 搜索框。。 -->
                      <div class="sidebar-widget">
                        <h4>搜索</h4>
                        <form class="sq ng-pristine ng-valid" action="/article" method="get">
                            <div class="input-group">
                                <input  type="text" name="sq" class="form-control" placeholder="搜索您的问题...">
                                <span class="input-group-btn">
                                    <button type="submit" onclick="$('.sq').submit();">搜 索</button>
                                </span>
                            </div>
                        </form>
                      </div>
                    <!-- 搜索框。。 -->
                    <div class="sidebar-widget">
            
                        <a href="/us">关于我们</a>
            
                    </div>
                    <div class="sidebar-widget">
                        <h4>微信分享</h4>
                        <div class="contact-code">
                            <img src="">
                        </div>
                    </div>
                </div>
</div>
                <script type="text/javascript" charset="utf-8" src="/js/common/right.js?v=0.0.2"></script>