<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>个人中心</title>
		<#include "/common/_include.html">
		<style>
			.pagination li a{
				margin: 5px;
			}
			.list-group{
				-webkit-box-shadow:none;
			}
		</style>
	</head>
	<body>
		<!-- 头部引用 -->
		<#include "/common/_header.html">
		<@headerPage currentPage="user"/>
		<!--内容开始-->
		<div class="container bo-mt20">
			<div class="list-group">
			<#if (articleResult.data?size> 0)>
				<#list articleResult.data as a>
					<div class="list-group-item">
						<a class="list-group-item-heading" href="/article/detail/${a.id?substring(0,4)}/${a.id?substring(4,6)}/${a.id?substring(6,8)}/${a.id?substring(8)}">
							<h4>${(a.title)!}</h4>
						</a>
						<div class="list-group-item-text" style="padding: 10px 0 10px 0px;">
							<span class="pull-right">
								<span>
									<#setting datetime_format="yyyy-MM-dd HH:mm:ss" />
									<#if a.createAt ??>
										发布于：${a.createAt?number_to_datetime}
									</#if>
								</span>
								<a class="btn-link" href="/article/edit/${a.id?substring(0,4)}/${a.id?substring(4,6)}/${a.id?substring(6,8)}/${a.id?substring(8)}">编辑</a>
							</span>
						</div>
					</div>
				</#list>
				<nav class="text-center">
			  <ul class="pagination" pageNumber="${(articleResult.pagination.currPage)!}" totalPage="${(articleResult.pagination.countPage)!}" totalRow="${(articleResult.pagination.countSize)!}" type="${type!}" search_content="${search_content!}">
			  </ul>
			</nav>
			<#else>
			<div class="text-center">
				<span>暂无相关数据</span>
			</div>
			</#if>
			</div>
		</div>
		<!--内容结束-->
		<#include "/common/_footer.html">
	   <script type="text/javascript" src="/js/common/bo-paginate.js?v=0.1"></script>
	   <script type="text/javascript">
			$(function(){
			    	var $paginate = $(".pagination");
			    	$.paginate({
		    			url : "/article/myarticle",
		    			cssQuery : ".pagination",
		    			pageNumber : Number($paginate.attr("pageNumber")),
		    			totalRow : Number($paginate.attr("totalRow")),
		    			totalPage : Number($paginate.attr("totalPage")),
		    			offsetPage : 3,
		    			pageNumberAlias : 'page',
		    			params : $paginate.attr("params"),
		    			currCss : 'color: #fff;background-color: #006dcc;'
		    		});
		    });
		</script>
	</body>
</html>