<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>关于我们</title>
		<#include "/common/_include.html">
		<style>
			.list-group-item{
				border: 0px;
			}
		</style>
	</head>
	<body>
		<!-- 头部引用 -->
		<#include "/common/_header.html">
		<@headerPage currentPage="index"/>
		<!--内容开始-->
		<div class="container">
			<div class="panel bo-form">
				<div class="list-group">
					<#if aboutUSList??>
				<#list aboutUSList as au>
					<div class="list-group-item bo-divh38" style="padding:0px;">
						<#if (au.type == 1)>
							<#setting datetime_format="yyyy"/>
							<h4 class="text-center" style="display: inline-block;width: 100%;">${au.createAt?number_to_datetime}</h4>
						<#else>
							<#setting datetime_format="MM-dd"/>
							<span style="width: 36%;display: inline-block;text-align: right;padding-right: 5px;">${au.createAt?number_to_datetime}</span>
							<span style="display: inline-block;text-align: left;padding-left: 5px;">${au.desc!}</span>
						</#if>
					</div>
				</#list>
				</#if>
				</div>
			</div>
		</div>
		<!--内容结束-->
		<#include "/common/_footer.html">
	</body>
</html>