<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.service.dao.ArticleContentDao">

	<resultMap id="articleContent" type="ArticleContent">
		<id property="id" column="id"/>
		<result property="articleId" column="article_id"/>
		<result property="content" column="content"/>
		<result property="createAt" column="create_at"/>
		<result property="updateAt" column="update_at"/>
	</resultMap>
	
    <select id="findArticleContentByArticleId" parameterType="String" resultMap="articleContent">
            select * from article_content where article_id = #{articleId}
    </select>
    
    <insert id="save" parameterType="ArticleContent">
    	insert into article_content(id,article_id,content,create_at,update_at) 
		values(#{id},#{articleId},#{content},#{createAt},#{updateAt}) 
    </insert>
    
	<delete id="deleteContent" parameterType="String">
    	delete from article_content where article_id = #{articleId}
    </delete>
        
        
</mapper>