<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.service.dao.UserPasswordRecordDao">
    
    <resultMap id="userPasswordRecord" type="UserPasswordRecord">
    	<id property="id" column="id"/>
    	<result property="userId" column="user_id"/>
    	<result property="passwordDes" column="password_des"/>
    	<result property="passwordMd5" column="password_md5"/>
    	<result property="createAt" column="create_at"/>
    </resultMap>
    
    
</mapper>