<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>${(article.title)!}</title>
		<#include "/common/_include.html">
		<link rel="stylesheet" type="text/css" href="/js/ueditor/third-party/prettify/prettify.min.css?v=0.0.1">
		<!--
		<script type="text/javascript" src="/js/ueditor/third-party/prettify/prettify.js"></script>
		-->
		<script type="text/javascript" src="http://apps.bdimg.com/libs/prettify/r298/prettify.min.js"></script>
		<style>
			.pagination li a{
				margin: 5px;
			}
			
			.edui-editor-toolbarboxinner{
				text-align: left;
			}
			
			.list-group-item{
				border-left: none;
				border-right: none;
			}
			
			.list-group{
				-webkit-box-shadow:none;
			}
		</style>
	</head>
	<body>
		<!-- 头部引用 -->
		<#include "/common/_header.html">
		<@headerPage currentPage="index"/>
		<!--内容开始-->
		<div class="container">
			<div class="panel panel-default">
			  <div class="panel-body article-type">
			  	<#include "/common/_type.html">
			  </div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center h4">
						${article.title!}					
					</div>
					<hr class="bo-line" />
					<div class="text-center">
						<span>
							类型：
	   						<#if articleTypeList ??>
						   	  <#list articleTypeList as at >
						   	  	<#if at.id==article.type>
						   	  		${(at.name)!}
						   	  	</#if>
						   	  </#list>
						   	</#if>
						</span>
						<span>作者：${(author.username)!}</span>
						<span>
							${(article.createText)!}
						</span>
						<span>
							${(commentResult.pagination.countSize)!}条评论
						</span>
					</div>
					<#list articleContentList as ac> 
					<div class="article-content bo-break-word	 bo-pt20">
						${(ac.content)!}
					</div>
					</#list>
					<div class="bo-divh38">
						<span class="h5 pull-left">评论</span>					
					</div>
					<div class="list-group">
						<#if (commentResult.data?size > 0)>
		        			<#list commentResult.data as ac >
						<div class="list-group-item">
							<div class="list-group-item-heading">
								<img  style="width: 48px;height: 48px;display: inline-block;" src='/images/noimg.png' alt="" onerror="this.src='/images/noimg.png'"/>
								<span>${(ac.username)!}</span>
								<span class="pull-right">
									${(ac.createText)!}
									#${(commentResult.pagination.startCursor+ac_index+1)!}
								</span>
							</div>	
							<div class="list-group-item-text">
								<span class="bo-comment-text">
									${(ac.content)!}
								</span>
							</div>
						</div>
						</#list>
						</#if>
					</div>
					 <nav class="text-center">
			  			<ul class="pagination" pageNumber="${(commentResult.pagination.currPage)!}" totalPage="${(commentResult.pagination.countPage)!}" totalRow="${(commentResult.pagination.countSize)!}">
						  </ul>
						</nav>
						<form action="/article/comment/add?articleId=${article.id!}" class="text-center" method="post">
							<!-- 加载编辑器的容器 -->
							<script id="container" name="content" style="text-align: -webkit-center;max-width: 620px;width: 100%;margin: 0 auto" type="text/plain">
							</script>
							<!-- 配置文件-->
							<script type="text/javascript" src="/js/ueditor/ueditor.config.min.js?v=0.0.1"></script>
							<!-- 编辑器源码文件
							<script type="text/javascript" src="/js/ueditor/ueditor.all.min.js"></script>
							-->
							<script type="text/javascript" src="http://apps.bdimg.com/libs/ueditor/1.4.3.1/ueditor.all.min.js"></script>
							<!-- 实例化编辑器 -->
							<script type="text/javascript">
								var ue = UE.getEditor('container', {
									initialFrameHeight: 200,
									//initialFrameWidth: 620,
									wordCount: false,
									elementPathEnabled: false,
									autoClearEmptyNode: true,
									toolbars: [
										[
											'insertcode', //代码语言
											'link', //超链接
											'simpleupload', //单图上传
										]
									]
								});
							</script>
							<div class="bo-divh58 bo-lineh58">
								<a class="btn btn-default" onclick="$('form').submit();">发表评论</a>
							</div>
						</form>
				</div>
			</div>
		</div>
		<!--内容结束-->
		<#include "/common/_footer.html">
	   <script type="text/javascript" src="/js/common/bo-paginate.min.js?v=0.0.1"></script>
	   <script type="text/javascript">
			$(function(){
			    	var $paginate = $(".pagination");
			    	$.paginate({
		    			url : "/article/detail/${article.id?substring(0,4)}/${article.id?substring(4,6)}/${article.id?substring(6,8)}/${article.id?substring(8)}",
					cssQuery : ".pagination",
		    			pageNumber : Number($paginate.attr("pageNumber")),
		    			totalRow : Number($paginate.attr("totalRow")),
		    			totalPage : Number($paginate.attr("totalPage")),
		    			offsetPage : 3,
		    			pageNumberAlias : 'page',
		    			currCss : 'color: #fff;background-color: #006dcc;'
		    		});
		    });
		</script>
		<script>
		   $(document).ready(function() {
				$("pre").addClass("prettyprint linenums");
				prettyPrint();
				
				// 图片最大100%
				$.each($('.article-content img'),function(i,o){
					$(o).css('max-width','100%');
				});
			});
		</script>
	</body>
</html>