<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>何超杰的博客  技术、分享、价值</title>
		<#include "/common/_include.html">
		<style>
			.list-group{
				-webkit-box-shadow:none;
			}
		</style>
	</head>
	<body>
		<!-- 头部引用 -->
		<#include "/common/_header.html">
		<@headerPage currentPage="index"/>
		<!--内容开始-->
		<div class="container">
			<div class="panel panel-default">
			  <div class="panel-body article-type">
			  	<#include "/common/_type.html">
			  </div>
			</div>
			<div class="list-group">
			<#if (articleResult.data?size> 0)>
				<#list articleResult.data as a>
					<div class="list-group-item bo-divh46">
						<a class="bo-title pull-left" style="width: 80%;" href="/article/detail/${a.id?substring(0,4)}/${a.id?substring(4,6)}/${a.id?substring(6,8)}/${a.id?substring(8)}">${(a.title)!}</a>
						<span class="pull-right text-right" style="min-width: 68px;">${(a.createText)!}</span>
					</div>
				</#list>
				<nav class="text-center">
			  <ul class="pagination" pageNumber="${(articleResult.pagination.currPage)!}" totalPage="${(articleResult.pagination.countPage)!}" totalRow="${(articleResult.pagination.countSize)!}" params="&type=${type!}">
			  </ul>
			</nav>
			<#else>
			<div class="text-center">
				<span>暂无相关数据</span>
			</div>
			</#if>
			</div>
		</div>
		<!--内容结束-->
		<#include "/common/_footer.html">
	   <script type="text/javascript" src="/js/common/bo-paginate.min.js?v=0.0.1"></script>
	   <script type="text/javascript">
			$(function(){
			    	var $paginate = $(".pagination");
			    	$.paginate({
		    			url : "/article",
		    			cssQuery : ".pagination",
		    			pageNumber : Number($paginate.attr("pageNumber")),
		    			totalRow : Number($paginate.attr("totalRow")),
		    			totalPage : Number($paginate.attr("totalPage")),
		    			offsetPage : 3,
		    			pageNumberAlias : 'page',
		    			params : $paginate.attr("params"),
		    			currCss : 'color: #fff;background-color: #006dcc;'
		    		});
		    });
		</script>
	</body>
</html>