<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>发布</title>
		<#include "/common/_include.html">
<style>
	.pagination li a {
		margin: 5px;
	}
	
	.edui-editor-toolbarboxinner {
		text-align: left;
	}
	
	.list-group-item {
		border-left: none;
		border-right: none;
	}
	
	.list-group {
		-webkit-box-shadow: none;
	}
</style>
	</head>
	<body>
		<!-- 头部引用 -->
		<#include "/common/_header.html">
		<@headerPage currentPage="index"/>
		<!--内容开始-->
		<div class="container">
			<div class="panel panel-default">
			  <div class="panel-body article-type">
			  	<#include "/common/_type.html">
			  </div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
						<#if error??><div class="alert alert-danger" role="alert">${error!}</div></#if>
						<form action="/article/saveActicle" class="text-center" method="post">
							<input type="hidden" name="AUTH_TOKEN_PUBLISH" value="${AUTH_TOKEN_PUBLISH!}"/>
							<div class="form-group">    
	                             <input type="text" class="form-control"  name="title" value="" placeholder="请输入标题">
	                        </div>
	                        <div class="form-group">  
	                        		<select name="type"  class="form-control">
		                            <#if articleTypeList ??>
			   	  					<#list articleTypeList as at>
		                            <option value="${at.id!}">${at.name!}</option>
		                            </#list>
			   	  					</#if>
		                        </select>
	                        	</div>
							<!-- 加载编辑器的容器 -->
							<script id="container" name="content" style="text-align: -webkit-center;width: 100%;margin: 0 auto" type="text/plain">
							</script>
							<!-- 配置文件-->
							<script type="text/javascript" src="/js/ueditor/ueditor.config.min.js?v=0.0.1"></script>
							<!-- 编辑器源码文件
							<script type="text/javascript" src="/js/ueditor/ueditor.all.min.js"></script>
							-->
							<script type="text/javascript" src="http://apps.bdimg.com/libs/ueditor/1.4.3.1/ueditor.all.min.js"></script>
							<!-- 实例化编辑器 -->
						    <script type="text/javascript">
						        var ue = UE.getEditor('container',{
						        	initialFrameHeight:300,
						        	wordCount:false,
						        	elementPathEnabled:false,
						        	autoClearEmptyNode:true,
						        	toolbars: [
						        	           [
												   'source', //源代码
												   'insertcode', //代码语言
												   'indent', //首行缩进
						        	               'bold', //加粗
						        	               'italic', //斜体
						        	               'forecolor', //字体颜色
						        	               'backcolor', //背景色
						        	               'underline', //下划线
						        	               'strikethrough', //删除线
						        	               'horizontal', //分隔线
						        	               'link', //超链接
						        	               'simpleupload', //单图上传
						        	               'fontfamily', //字体
						        	               'fontsize', //字号
						        	               'paragraph', //段落格式
						        	               'fullscreen'//全屏
						        	           ],
						        	           [
													'justifyleft', //居左对齐
													'justifyright', //居右对齐
													'justifycenter', //居中对齐
													'justifyjustify', //两端对齐
													'insertorderedlist', //有序列表
													'insertunorderedlist',//无序列表
													'template', //模板
													'inserttable', //插入表格
													'autotypeset'//自动排版
						        	            ]
						        	       ]
						        });
						    </script>  
							<div class="form-group" style="margin-top: 10px;">
								<select name="permission" class="form-control">
	                        			<option value="0">公开</option>
		                            <option value="1">仅自己可见</option>
	                        		</select>
							</div>
							<button class="btn btn-default" onclick="$('form').submit();">提交</button>
							</div>
						</form>
			</div>
		</div>
		<#include "/common/_footer.html">
	</body>
</html>